<?xml version="1.0" encoding="UTF-8"?>
<sources xmlns="http://www.ETL.in" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=" http://www.ETL.in settings.xsd ">
    <source>
        <URL>https://api.exchangeratesapi.io/latest</URL>
        <type>json</type>
        <timestamp>2016-01-08T15:16:44.554</timestamp>
        <vendor>demo</vendor>
        <queryFrequency>5.0</queryFrequency>
    </source>

    <source>
        <URL>https://raw.githubusercontent.com/GeorgetAbraham/Streaming_ETL_Engine/master/Sample.csv</URL>
        <type>csv</type>
        <timestamp>2016-01-08T15:16:45.554</timestamp>
        <vendor>demo</vendor>
        <queryFrequency>3.0</queryFrequency>
    </source>
</sources>